$bg-color: rgba(17, 16, 27, .75);
$fg-color: #CDD6F4;
$fg-color-disabled: #6C7086;
$primary-color: #EA76CB;
$secondary-color: #D35D6E;

window.Bar {
    background: transparent;
    color: $fg-color;

    button {
        all: unset;
    }

    .Panel {
        min-height: 26px;
        padding: 6px 15px;
        border-radius: 10px;
        background: $bg-color;
        color: $fg-color;
    }

    .Button {
        padding: 0 5px;
        border-radius: 20px;
        transition-property: background-color, color;
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
        transition-delay: 200ms;

        &.Active {
            background-color: #cba6f7;
            color: #1e1e2e;
            transition-duration: 200ms;
            transition-delay: 0;

            &.System {
                background-color: #89b4fa;
            }
        }
    }

    .Divider {
        padding: 10px 2px;

        .Circle {
            min-width: 6px;
            min-height: 6px;
            border-radius: 50%;
            background: $fg-color-disabled;
        }
    }

    .Clock {
        font-weight: bold;
    }

    .Workspaces {
        .Workspace {
            padding: 0 6px;
            margin: 0 2px;
            color: $fg-color-disabled;
            font-size: 14px;

            &.Occupied {
                color: $fg-color;
            }

            &.Active {
                color: $primary-color;
            }

            &:hover {
                color: $secondary-color;
            }
        }
    }

    .Battery {
        color: #FFFFFF;

        .Icon {
            -gtk-icon-size: 26px;
        }

        &.Active {
            padding: 0 10px;
            background-color: #a6e3a1;
        }
    }

    .Tray {
        .TrayItem {
            image {
                -gtk-icon-size: 20px;
            }
        }
    }

    .Audio {
        color: #FFFFFF;

        .Icon {
            -gtk-icon-size: 26px;
        }

        &.Active {
            padding: 0 10px;
            background-color: #cba6f7;
        }
    }
}

window.Corner {
    box {
        min-width: 10px;
        min-height: 10px;
    }

    &.TopLeft box {
        background: radial-gradient(circle at bottom right, transparent 10px, black 1px);
    }

    &.TopRight box {
        background: radial-gradient(circle at bottom left, transparent 10px, black 1px);
    }

    &.BottomLeft box {
        background: radial-gradient(circle at top right, transparent 10px, black 1px);
    }

    &.BottomRight box {
        background: radial-gradient(circle at top left, transparent 10px, black 1px);
    }
}