$fg-color: #CDD6F4;
$bg-color: rgba(17, 16, 27, .75);

window.Bar {
    background: transparent;
    color: $fg-color;
    font-weight: bold;

    button {
        all: unset;
    }

    .Panel {
        min-height: 26px;
        padding: 6px 15px;
        border-radius: 10px;
        background: $bg-color;
        color: $fg-color;
    }

    .Button {
        padding: 0 5px;
        border-radius: 20px;
        transition-property: background-color, color;
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
        transition-delay: 200ms;

        &.Active {
            background-color: #cba6f7;
            color: #1e1e2e;
            transition-duration: 200ms;
            transition-delay: 0;

            &.System {
                background-color: #89b4fa;
            }
        }
    }
}

window.Corner {
    box {
        min-width: 10px;
        min-height: 10px;
    }

    &.TopLeft box {
        background: radial-gradient(circle at bottom right, transparent 10px, black 1px);
    }

    &.TopRight box {
        background: radial-gradient(circle at bottom left, transparent 10px, black 1px);
    }

    &.BottomLeft box {
        background: radial-gradient(circle at top right, transparent 10px, black 1px);
    }

    &.BottomRight box {
        background: radial-gradient(circle at top left, transparent 10px, black 1px);
    }
}