@use "../theme" as theme;

window.Bar {
    background: transparent;
    color: theme.$fg-color;

    button {
        all: unset;
    }

    .Panel {
        min-height: 32px;
        padding: 4px 15px;
        border-radius: 10px;
        background: theme.$bg-color;
        color: theme.$fg-color;
    }

    .Button {
        padding: 0 5px;
        border-radius: 20px;
        transition-property: background-color, color;
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
        transition-delay: 200ms;

        &.Active {
            background-color: #cba6f7;
            color: #1e1e2e;
            transition-duration: 200ms;
            transition-delay: 0;
        }
    }

    .System {
        padding: 0 8px;

        .Icon {
            -gtk-icon-size: 16px;
        }

        &.Active {
            background-color: #89b4fa;
        }
    }

    .Divider {
        padding: 10px 4px;

        .Circle {
            min-width: 6px;
            min-height: 6px;
            border-radius: 50%;
            background: theme.$fg-color-disabled;
        }
    }

    .Clock {
        font-weight: normal;
        font-size: 14px;
    }

    .Workspaces {
        .Workspace {
            padding: 0 6px;
            margin: 0 2px;
            color: theme.$fg-color-disabled;
            font-size: 14px;

            &.Occupied {
                color: theme.$fg-color;
            }

            &.Active {
                color: theme.$primary-color;
            }

            &:hover {
                color: theme.$secondary-color;
            }
        }
    }

    .Battery {
        color: #FFFFFF;

        .Icon {
            -gtk-icon-size: 28px;
        }

        &.Active {
            padding: 0 10px;
            background-color: #a6e3a1;
        }
    }

    .Tray {
        .TrayItem {
            image {
                -gtk-icon-size: 20px;
            }
        }
    }

    .Audio {
        color: #FFFFFF;

        .Icon {
            -gtk-icon-size: 28px;
        }

        &.Active {
            padding: 0 10px;
            background-color: #cba6f7;
        }
    }

    .Network {
        color: #FFFFFF;

        .Icon {
            -gtk-icon-size: 28px;
        }

        &.Active {
            padding: 0 10px;
            background-color: #89b4fa;
        }
    }

    .ControlCenter {
        color: #FFFFFF;

        .Icon {
            -gtk-icon-size: 28px;
        }

        &.Active {
            background-color: #fa8989;
        }
    }
}